@model CronofyCSharpSampleApp.Models.Event

<h2>@Model.Calendar.Name - @Model.Summary - Edit</h2>

<div class="well">
    @using(Html.BeginForm("Update", "Events", FormMethod.Post, new { @class = "form-horizontal" })){
        @Html.ValidationSummary(true);

        @Html.HiddenFor(model => model.CalendarId)
        <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.EventId, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.EventId, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.EventId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Summary, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Summary, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Summary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Start, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.Start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.End, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.End)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationDescription, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.LocationDescription, new { @class = "form-control" })
            </div>
        </div>

    @if(Model.Calendar.Profile.ProviderName == "apple" || Model.Calendar.Profile.ProviderName == "google"){
        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Latitude)
            </div>
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Longitude)
            </div>
        </div>
    }

        <div class="form-group">
            <div class="col-lg-10">
                <input type="submit" value="Update" class="btn btn-success btn-primary" />
            </div>
        </div>
        </fieldset>
    }
</div>
