@model CronofyCSharpSampleApp.Models.Event

<h2>@ViewData["calendarName"] - New Event</h2>

<div class="well">
    @using(Html.BeginForm("CreateEvent", "ServiceAccountUsers", FormMethod.Post, new { @class = "form-horizontal" })){
        @Html.ValidationSummary(true);

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CalendarId)
        <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.EventId, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.EventId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EventId)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Summary, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Summary, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Summary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.Start, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.Start)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, new { @class = "control-label col-lg-2" })
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.End, new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.End)
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <input type="submit" value="Create" class="btn btn-success btn-primary" />
            </div>
        </div>
        </fieldset>
    }